@font-face {
  font-family: 'Nerko';
  src: url('assets/fonts/nerko_One/NerkoOne-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('assets/fonts/mulish/static/Mulish-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nokora';
  src: url('assets/fonts/nokora/static/Nokora-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
