@use '../../../styles/mixins' as *;
.home {
  color: white;
  background-color: var(--dark-bg);
}

.home-hero {
  &__header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
  }

  &__decor {
  }

  &__title {
    color: var(--color-title);
    font-size: clamp(1rem, 16vw, 18rem);
  }

  &__image {
  }

  &__text {
  }

  &__actions-wrapper {
    @include flex-center;
  }

  &__actions {
    display: flex;
    padding: 1em 1em;
    gap: 0.8rem;
    background-color: rgba(238, 146, 54, 1);
  }

  &__button {
  }
}

/* HERO */

/* SURVEYS */

.home-surveys {
  width: 100%;
  overflow: hidden;
  &__header {
    display: flex;
    justify-content: center;
  }

  &__title {
    color: var(--color-title);
  }

  &__subtitle {
  }

  &__actions {
  }

  &__filter {
  }

  &__filter--active {
  }

  &__scroll {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1rem;
    -webkit-overflow-scrolling: touch;
  }

  &__track {
    display: flex;
    gap: 1em;
    width: max-content;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 4.5em;
    padding: 1rem;
    max-width: 13rem;
    border-top-right-radius: 80px;
    background: var(--light-bg);
    color: black;
  }

  &__status-filter {
    display: flex;
    gap: 1.5rem;
    padding: 3em 0em;
  }

  &__wrapper {
  }

  &__card {
  }

  &__category {
  }

  &__card-title {
  }

  &__date {
  }
}

/* FEATURES */

.home-features {
  &__header {
  }

  &__eyebrow {
  }

  &__card {
  }

  &__category {
  }

  &__title {
  }

  &__date {
  }
}
