@media (min-width: 1000px) {
  .home {
    &__content[_ngcontent-ng-c4170667492] {
      padding: 0rem 3rem;
    }

    &__header {
      padding: 3rem 0rem 0rem 5rem;
    }
  }

  .home-hero {
    padding: 0rem 5rem 3rem;
    &__header {
      display: flex;
      align-items: center;
      flex-direction: unset;
      //   gap: 4rem;
    }

    &__text {
      display: flex;
      flex: 1;
      flex-direction: column;
      order: 1;
    }

    &__title {
      margin-bottom: 0;
      width: unset;
    }

    &__preview-wrapper {
      order: 2;
      flex: 0 0 42%;
      width: 100%;
      background-image:
        url('../../../../public/assets/img/typing-bubble.svg'),
        url('../../../../public/assets/img/check.svg');
      background-repeat: no-repeat;
      background-position:
        1em 5em,
        right bottom;
      background-size: 30%, 25%;
      transition: background-position 550ms cubic-bezier(0.22, 1, 0.36, 1);

      &:hover {
        background-position:
          calc(1em + 1rem) 5em,
          calc(100% - 0.5rem) bottom;
      }
    }

    &__content {
      align-items: flex-start;
      padding-top: 0;
    }

    &__cta {
      gap: 0.6em;
      padding: 0.5em 0.8rem;
    }

    &__cta-icon-mobile {
      display: none;
    }

    &__preview {
      width: 100%;
      display: block;
    }
  }

  .home-surveys {
    padding: 0rem 8rem 7rem 8rem;

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(17rem, 1fr));

      &:has(> .survey-card:nth-of-type(7)) {
        scrollbar-width: thin;
        scrollbar-color: #ee9236 transparent;

        &::-webkit-scrollbar {
          display: block;
          width: 0.45rem;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 999px;
          background-color: #ee9236;
        }
      }
    }

    &__tools {
      display: flex;
      justify-content: space-between;
      flex-direction: unset;
      align-items: baseline;
    }

    &__track {
      justify-content: unset;
      gap: 1rem;
    }

    &__highlight-card {
      flex: 1 1 0;
      min-width: 0;
    }

    &__highlight-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__highlight-link {
      display: flex;
      flex-direction: column;
      gap: 6rem;
      padding: 2rem 2rem 2rem 1rem;
      width: 100%;
    }
  }
}
