@media (min-width: 1000px) {
  .home {
    &__content[_ngcontent-ng-c4170667492] {
      padding: 0rem 3rem;
    }
  }

  .home-hero {
    &__header {
      display: flex;
      align-items: center;
      flex-direction: unset;
      //   gap: 4rem;
    }

    &__text {
      display: flex;
      flex: 1;
      flex-direction: column;
      order: 1;
    }

    &__title {
      margin-bottom: 0;
      width: unset;
    }

    &__preview-wrapper {
      order: 2;
      flex: 0 0 42%;
    }

    &__content {
      align-items: flex-start;
      padding-top: 0;
    }

    &__cta {
      gap: 0em;
      padding: 0.5em 2rem;
    }

    &__preview {
      width: 100%;
    }
  }

  .home-surveys {
    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    }

    &__tools {
      display: flex;
      justify-content: space-between;
      flex-direction: unset;
      /* gap: 1rem; */
      /* margin: 1.2rem 0; */
      align-items: baseline;
    }
  }
}
