@media (min-width: 1000px) {
  .survey-detail {
    padding: 4em 0em 2em 0em;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__header {
      display: flex;
      justify-content: space-between;
      padding: 0rem 5rem 0rem 5rem;
    }

    &__logo {
      padding: 0;
    }

    &__create-btn {
      display: block;
      display: flex;
      align-items: center;
    }

    &__content {
      display: flex;
      justify-content: center;
      align-items: baseline;
      gap: 3rem;
    }

    &__close-button {
      display: none;
    }

    &__form {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-items: start;
      gap: 2rem 3rem;
    }

    &__submit-button {
      grid-column: 1 / -1;
      justify-self: end;
    }
  }

  .survey-results {
    &__trigger-container {
      display: none;
    }
  }
}
