@media (min-width: 1000px) {
  .survey-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 0em 2em 0em;
    height: 100dvh;

    &__header {
      display: flex;
      justify-content: space-between;
      padding: 0rem 5rem 0rem 5rem;
    }

    &__logo {
      padding: 0;
    }

    &__create-btn {
      display: flex;
      align-items: center;
      padding: 0.7em 1em 0.7em 1em;
      background-color: #ffb770;
      border-radius: 10px;
      font-weight: 700;
      font-size: clamp(0.8rem, 1.2vh, 2rem);
    }

    &__cta-icon {
      display: flex;
      align-items: center;
      width: clamp(1rem, 1vh, 2rem);
    }

    &__content {
      display: flex;
      justify-content: center;
      align-items: baseline;
      gap: 3rem;
    }

    &__close-button {
      display: none;
    }

    &__form {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-items: start;
      gap: 2rem 3rem;
    }

    &__submit-button {
      grid-column: 1 / -1;
      justify-self: end;
    }
  }

  .survey-results {
    &__trigger-container {
      display: none;
    }
  }
}
