@use '../../../styles/mixins' as *;

.survey-detail {
  background-color: var(--light-bg);
  padding: 4em 0em 2em 0em;

  &__logo {
    padding: 0em 0em 3em 1em;
    img {
      width: 9em;
    }
  }

  &__status {
    background-color: #ffb770;
    border-top-right-radius: 18px;
    padding: 0.6em 1em 0.6em 0.4em;
  }

  &__content {
    padding: 0em 1em 0em 1em;
  }

  &__content-card {
    background-color: #8e70991a;
    border-top-right-radius: 100px;
    padding: 4em 1em 4em 1em;
  }

  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
  }

  &__submit-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 3em 0em 0em 0em;
  }

  &__submit-button {
    padding: 1em 1.5em 1em 1.5em;
    background-color: #ffb770;
    border-radius: 10px;
  }
}

.survey-question {
  &__answers {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
  }
}

input[type='checkbox'] {
  accent-color: #ffb770;
}
