@use 'styles/fonts';
@use './styles/desktop-hover-icon';

:root {
  --logo-size: clamp(7.5rem, 3.5rem + 7vw, 10rem);
  --pd-logo: 0 0 3em 1em;
  --color-title: #ffb770;
  --border-right-radius: 5rem;

  --font-size-m: clamp(1.1rem, 0.6rem + 0.9vw, 2rem);
  --font-size-l: clamp(1.1rem, calc(1.8rem + 3.5vw), 6rem);
  --font-nerko: 'Nerko';
  --font-mulish: 'Mulish';
  --font-nokora: 'Nokora';
}

.page-container {
  padding-inline: max(1rem, calc((100% - 1440px) / 2));
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: var(--font-nerko);
  color: var(--color-title);
  font-weight: 100;
}

h2 {
  font-family: var(--font-nerko);
}

p {
  font-family: var(--font-mulish);
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-nokora);
}

button {
  font-family: var(--font-nokora);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

input[type='checkbox'] {
  accent-color: #ffb770;

  &:hover {
    background-color: #ffb770;
  }
}

input {
  cursor: pointer;
}
