@use 'styles/fonts';
@use './styles/desktop-hover-icon';

:root {
  --pd-logo: 0 0 3em 1em;
  --logo-size: clamp(7.5rem, 13vw, 25rem);
  --border-right-radius: 5rem;
  --title-size: clamp(3rem, 5.5vw, 6rem);
  --dark-bg: rgba(53, 39, 58, 1);
  --light-bg: #ffffff;
  --color-title: #ee9236;
  --font-nerko: 'Nerko';
  --font-mulish: 'Mulish';
  --font-nokora: 'Nokora';
}

.page-container {
  padding-inline: max(1rem, calc((100% - 1440px) / 2));
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: var(--font-nerko);
  color: var(--color-title);
  font-weight: 100;
}

h2 {
  font-family: var(--font-nerko);
}

p {
  font-family: var(--font-mulish);
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-nokora);
}

button {
  font-family: var(--font-nokora);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

input[type='checkbox'] {
  accent-color: #ffb770;

  &:hover {
    background-color: #ffb770;
  }
}

input {
  cursor: pointer;
}
